.hidden {
    display: none;
}

.container {
    margin-bottom: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #efefef;
    justify-content: space-evenly;    
}

@media screen and (min-width:768px) {
    
    .container {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0px;
        justify-content: center
    }

}

@media screen and (min-width:1200px) {
    
    .container {
        flex-wrap: nowrap;
        flex-direction: row;
        padding-left: 200px;
    }
}

/* Background Images */

#pic-con {
    background-image: url(images/toxic-png.jpg);
    background-image: url(images/acid-sign.jpg);
    background-image: url(images/battery-sign.jpg);
}